.canvas {
	width: 100vw;
	height: 100vh;
}

.createMenu {
	position: absolute;
	border: 1px solid black;
	background-color: white;
}

.createMenuTitle {
	font-size: 10px;
	font-weight: 600;
	padding: 3px 5px;
}

.createMenu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.createMenu ul li {
	padding: 3px 5px;
	cursor: pointer;
}

.createMenu ul li:hover {
	background-color: #eee;
}
